.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
.nav-btn {
  margin-top: 4rem;
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  &::before,
  &::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
    // background-color: red;
  }
  &::before {
    transform: translateY(-1.5rem);
    // margin: 2px;
  }
  &::after {
    transform: translateY(1.3rem);
    // margin: 2px;
  }
}
